
@{
    ViewBag.Title = "Bad Request";
}

<html>
    <head>

    </head>
    <body>
        <h1 class="keyword">@ViewBag.Title</h1>
        <h2>Oops. We just can't help you in what you're trying to do. Sorry!</h2>
    </body>
</html>

