
@{
    ViewBag.Title = "Internal Server Error";
}

<html>
<head>

</head>
<body>
    <h1 class="keyword">@ViewBag.Title</h1>
    <h2>Oops! It seamns we've done something wrong. Sorry!</h2>
</body>
</html>
