@{
    ViewBag.Title = "Page Unauthorized";
}

<html>
<head>

</head>
<body>
    <h1 class="keyword">@ViewBag.Title</h1>
    <h2>It seems you don't have authorization to come here. Please don't insist!</h2>
</body>
</html>


