@model StudentAccom.Models.Accommodation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>
<body>
    <div> 
            <h1>@Model.Title</h1>
            <p>@Model.Description</p>
            <table>
                <tbody>
                    <tr>
                        @if (@Model.Internet) {
                                <td><span><img src="~/Images/internet-icon.png" />Internet</span></td>
                        }

                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>
